<?xml version="1.0" encoding="utf-8"?>
<config>
    <frontend>
        <routers>
            <meeting04_Customer>
                <use>standard</use>
                <args>
                    <module>Meeting04_Customer</module>
                    <frontName>customer</frontName>
                    <modules>
                        <meeting04_customer before="Mage_Customer">Meeting04_Customer</meeting04_customer>
                    </modules>
                </args>
            </meeting04_Customer>
        </routers>
    </frontend>
</config>
