<?xml version="1.0" encoding="utf-8"?>
<config>
    <frontend>
        <routers>
            <meeting02_Exercise04>
                <use>standard</use>
                <args>
                    <module>Meeting02_Exercise04</module>
                    <frontName>customer</frontName>
                    <modules>
                        <meeting02_exercise04 before="Mage_Customer">Meeting02_Exercise04</meeting02_exercise04>
                    </modules>
                </args>
            </meeting02_Exercise04>
        </routers>
    </frontend>
</config>
