<?xml version="1.0" encoding="utf-8"?>
<config>
    <frontend>
        <routers>
            <meeting03_CustomController>
                <use>standard</use>
                <args>
                    <module>Meeting03_CustomController</module>
                    <frontName>custom</frontName>
                </args>
            </meeting03_CustomController>
        </routers>
    </frontend>
</config>
