<?xml version="1.0" encoding="utf-8"?>
<config>
    <global>
        <events>
            <cms_controller_router_match_before>
                <observers>
                    <meeting02_exercise02>
                        <class>Meeting02_Exercise02_Model_Observer</class>
                        <method>cmsControllerRouterMatchBefore</method>
                    </meeting02_exercise02>
                </observers>
            </cms_controller_router_match_before>
        </events>
    </global>
</config>
