<?xml version="1.0" encoding="utf-8"?>
<config>
    <frontend>
        <routers>
            <meeting02_Exercise03>
                <use>standard</use>
                <args>
                    <module>Meeting02_Exercise03</module>
                    <frontName>custom</frontName>
                </args>
            </meeting02_Exercise03>
        </routers>
    </frontend>
</config>
